@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

body {
  background-color: #e7e7e3;
}

.primary-button {
  padding: 10px 30px;
  background: #4a69e2;
  color: #e7e7e3;
  border-radius: 5px;
  margin-top: 10px;
  font-size: medium !important;
}

.secondary-button {
  width: 100%;
  background: black;
  color: #e7e7e3;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.secondary-button:hover {
  text-decoration: none;
}

.scard {
  width: 20%;
  height: 350px;
}
.scard .image {
  width: 100%;
  height: 69%;
  border: 5px solid white;
  border-radius: 20px;
  position: relative;
}
.scard .image .ntag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: #4a69e2;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 20px;
}
.scard .des {
  width: 100%;
  height: 31%;
  padding: 0;
  padding-top: 30px;
}
.scard .des h3 {
  padding-bottom: 20px;
  word-spacing: 5px;
}

.revcard {
  width: 30%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: white;
}
.revcard .des {
  width: 100%;
  height: 30%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border: 2px solid green;
  display: inherit;
  flex-direction: inherit;
}
.revcard .des .msg {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.revcard .des .msg .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid green;
}

.footer {
  padding: 20px 50px;
  width: 100%;
}
.footer .layer {
  background: #4a69e2;
  border-radius: 20px;
}
.footer .newsletter {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}
.footer .newsletter .left,
.footer .newsletter .right {
  width: 45%;
}
.footer .newsletter h2 {
  font-size: 2.55rem;
  padding-bottom: 10px;
  font-weight: 600;
}
.footer .newsletter .right img {
  width: 100%;
}
.footer .newsletter p {
  font-weight: lighter;
  margin: 20px 0 20px 0;
}
.footer .newsletter .left .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .newsletter .left .mail-input {
  width: 70%;
  height: 35px;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  outline: none;
  padding: 5px 20px;
  color: #e7e7e3;
}
.footer .newsletter .left .mail-input:focus {
  outline: none;
}
.footer .newsletter .left .mail-button {
  width: 29%;
  height: 35px;
  border: none;
  border-radius: 6px;
  background: black;
  color: whitesmoke;
}
.footer .bottom {
  background: #232321;
  border-radius: 20px;
}
.footer .bottom .top {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  color: #e7e7e3;
}
.footer .bottom .top .about {
  width: 30%;
}
.footer .bottom .top ul {
  list-style: none;
}
.footer .bottom .top h3,
.footer .bottom .top h2 {
  color: #ffa52f;
}
.footer .bottom .down {
  width: 100%;
}
.footer .bottom .down img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 640px) {
  .scard {
    width: 48% !important;
    margin-bottom: 50px;
  }
  .scard .des {
    padding-top: 10px !important;
  }
  .scard .des h3 {
    font-size: 1rem;
    word-spacing: 1px !important;
    padding-bottom: 10px;
  }
  .revcard {
    width: 100%;
  }
  .hero {
    margin: 10px !important;
    padding: 10px !important;
  }
  .hero .slogan h1 {
    font-size: 3rem !important;
    word-spacing: 10px !important;
  }
  .hero .slogan h1 span {
    color: green !important;
  }
  .hero .featured-shoe {
    border-radius: 40px !important;
    height: 500px !important;
  }
  .hero .featured-shoe .tag {
    top: 120px !important;
  }
  .hero .featured-shoe .description {
    padding: 20px !important;
  }
  .hero .featured-shoe .name h2 {
    font-size: 2rem !important;
    padding: 2px;
  }
  .hero .newdrops {
    padding-top: 20px !important;
  }
  .hero .newdrops .title h2 {
    font-size: 1rem !important;
    line-height: normal !important;
  }
  .hero .newdrops-products {
    flex-wrap: wrap !important;
  }
  .categories {
    padding: 20px 20px !important;
    padding: 20px 10px;
  }
  .categories .title {
    font-size: 2rem !important;
  }
  .categories .cat {
    flex-direction: column !important;
  }
  .categories .cat .catcard {
    width: 100% !important;
  }
  .reviews {
    padding: 20px 20px !important;
  }
  .reviews .title h3 {
    font-size: 2rem !important;
  }
  .reviews .revs {
    display: none !important;
  }
  .reviews .om {
    display: flex !important;
  }
  .footer {
    padding: 20px 20px !important;
  }
  .footer .newsletter {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer .newsletter .left,
  .footer .newsletter .right {
    width: 100%;
  }
  .footer .newsletter .left .news,
  .footer .newsletter .right .news {
    gap: 20px;
  }
  .footer .bottom .top {
    flex-direction: column;
  }
  .footer .bottom .top .about {
    width: 100% !important;
  }
}
.hero {
  padding: 32px;
  margin: 20px;
  height: 100%;
}
.hero .slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.hero .slogan h1 {
  font-size: 10rem;
  font-style: bold;
  word-spacing: 50px;
  font-weight: 900;
}
.hero .slogan h1 span {
  color: #4a69e2;
}
.hero .featured-shoe {
  margin-top: 10px;
  width: 100%;
  min-height: auto;
  height: 650px;
  position: relative;
  display: flex;
  border-radius: 50px;
  background: green;
}
.hero .featured-shoe .tag {
  position: absolute;
  top: 160px;
  left: -88px;
  rotate: -90deg;
  background: #000;
  padding: 10px 20px;
  color: #e7e7e3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hero .featured-shoe .description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero .featured-shoe .description .name {
  width: 50%;
}
.hero .featured-shoe .description .name h2 {
  font-size: 3rem;
  padding: 10px;
  font-weight: 800;
  text-transform: uppercase;
}
.hero .featured-shoe .description .name p {
  padding-bottom: 30px;
}
.hero .featured-shoe .description .card-c {
  display: inherit;
  flex-direction: column;
  gap: 10px;
}
.hero .featured-shoe .description .card-c .card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #e7e7e3;
}
.hero .newdrops {
  padding-top: 70px;
}
.hero .newdrops .title {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero .newdrops .title h2 {
  font-size: 3rem;
  line-height: 50px;
}
.hero .newdrops-products {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.categories {
  width: 100%;
  background: #232321;
  height: 100%;
  color: #ffffff;
  padding: 30px 50px;
}
.categories .title {
  font-size: 4rem;
  font-weight: 700;
}
.categories .cat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.categories .cat .catcard {
  width: 50%;
  padding: 0;
  height: 350px;
  background: #f6f6f6;
  display: flex;
  color: #000;
  align-items: center;
  flex-direction: column;
}
.categories .cat .catcard-image {
  height: 80%;
  width: 100%;
  background-color: aqua;
  border-radius: inherit;
}
.categories .cat .catcard-title {
  width: 100%;
  padding: 10px 20px;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}
.categories .cat .catcard-title p {
  font-size: 2rem;
  font-weight: 700;
}
.categories .cat .catcard-title .link {
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: inherit;
  align-items: center;
  justify-content: center;
  color: #e7e7e3;
  cursor: pointer;
  font-size: 20px;
}
.categories .cat .one {
  border-top-left-radius: 50px;
  background: #eceef0;
}
.categories .class-arrows {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.categories .class-arrow {
  position: relative !important;
  top: -30px !important;
  left: 0 !important;
  border-radius: 5px !important;
  padding: 5px !important;
  width: 30px !important;
  height: 30px !important;
}

.reviews {
  width: 100%;
  padding: 30px 50px;
}
.reviews .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.reviews .title h3 {
  font-size: 4rem;
  color: #232321;
}
.reviews .revs {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reviews .om {
  display: none;
}/*# sourceMappingURL=main.css.map */