@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

body {
  background-color: $primary;
}

.primary-button {
  padding: 10px 30px;
  background: $tetiary;
  color: $primary;
  border-radius: 5px;
  margin-top: 10px;
  font-size: medium !important;
}

.secondary-button {
  width: 100%;

  background: black;
  color: $primary;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
