// small screen

@media screen and (max-width: $small) {
  // components{

  .scard {
    width: 48% !important;
    margin-bottom: 50px;
    .des {
      padding-top: 10px !important;
    }
  }

  .revcard {
    width: 100%;
  }

  // hero
  .hero {
    margin: 10px !important;
    padding: 10px !important;

    .slogan {
      h1 {
        font-size: 3rem !important;
        word-spacing: 10px !important;
        span {
          color: green !important;
        }
      }
    }

    .featured-shoe {
      height: 500px !important;

      .name {
        h2 {
          font-size: 2rem !important;
          padding: 2px;
        }
      }
    }

    .newdrops {
      padding-top: 20px !important;
      .title {
        h2 {
          font-size: 1rem !important;
          line-height: normal !important;
        }
      }

      &-products {
        flex-wrap: wrap !important;
      }
    }
  }

  .categories {
    padding: 20px 20px !important;
    .title {
      font-size: 2rem !important;
    }

    padding: 20px 10px;
    .cat {
      flex-direction: column !important;

      .catcard {
        width: 100% !important;
      }
    }
  }

  .reviews {
    .title {
      h3 {
        font-size: 2rem !important;
      }
    }
    padding: 20px 20px !important;
    .revs {
      display: none !important;
    }
    .om {
      display: flex !important;
    }
  }
  .footer {
    padding: 20px 20px !important;
    .newsletter {
      flex-wrap: wrap;
      gap: 20px;
      .left,
      .right {
        width: 100%;
        .news {
          gap: 20px;
        }
      }
    }
    .bottom {
      .top {
        flex-direction: column;

        .about {
          width: 100% !important;
        }
      }
    }
  }
}
