@import "variables";
@import "config";
@import "components";
@import "sections";
@import "responsive";

// Hero section

.hero {
  padding: 32px;
  margin: 20px;
  height: 100%;

  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    h1 {
      font-size: 10rem;
      font-style: bold;

      word-spacing: 50px;
      font-weight: 900;

      span {
        color: $tetiary;
      }
    }
  }

  .featured-shoe {
    margin-top: 10px;
    width: 100%;
    min-height: auto;
    height: 650px;
    position: relative;
    display: flex;
    border-radius: 50px;
    background: green;

    .tag {
      position: absolute;

      top: 160px;
      left: -88px;
      rotate: -90deg;
      background: #000;
      padding: 10px 20px;
      color: $primary;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .description {
      position: absolute;
      width: 100%;
      bottom: 0;

      padding: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .name {
        width: 50%;
        h2 {
          font-size: 3rem;
          padding: 10px;
          font-weight: 800;
          text-transform: uppercase;
        }
        p {
          padding-bottom: 30px;
        }
      }
      .card-c {
        display: inherit;
        flex-direction: column;
        gap: 10px;

        .card {
          width: 100px;
          height: 100px;
          border-radius: 5px;
          border: 2px solid $primary;
        }
      }
    }
  }

  .newdrops {
    padding-top: 70px;
    .title {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: end;
      h2 {
        font-size: 3rem;
        line-height: 50px;
      }
    }
    &-products {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
  }
}

// Categories Section

.categories {
  width: 100%;
  background: #232321;
  height: 100%;
  color: #ffffff;
  padding: 30px 50px;

  .title {
    font-size: 4rem;
    font-weight: 700;
  }

  .cat {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .catcard {
      width: 50%;
      padding: 0;
      height: 350px;
      background: #f6f6f6;
      display: flex;
      color: #000;

      align-items: center;
      flex-direction: column;
      &-image {
        height: 80%;
        width: 100%;
        background-color: aqua;
        border-radius: inherit;
      }
      &-title {
        width: 100%;
        padding: 10px 20px;

        display: inherit;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-size: 2rem;
          font-weight: 700;
        }

        .link {
          background: black;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          display: inherit;
          align-items: center;
          justify-content: center;
          color: $primary;
          cursor: pointer;
          font-size: 20px;
        }
      }
    }
    .one {
      border-top-left-radius: 50px;
      background: #eceef0;
    }
  }
  .class-arrows {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  .class-arrow {
    position: relative !important;
    top: -30px !important;
    left: 0 !important;
    border-radius: 5px !important;
    padding: 5px !important;
    width: 30px !important;
    height: 30px !important;
  }
}

// Reviews Section
.reviews {
  width: 100%;
  padding: 30px 50px;

  .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 4rem;
      color: #232321;
    }
  }

  .revs {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .om {
    display: none;
  }
}
