@import "variables";
@import "config";
@import "components";

// Hero section

.hero {
  padding: 32px;
  margin: 20px;
  height: fit-content;

  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    h1 {
      font-size: 10rem;
      font-style: bold;

      word-spacing: 50px;
      font-weight: 900;

      span {
        color: $tetiary;
      }
    }
  }

  .featured-shoe {
    margin-top: 10px;
    width: 100%;
    min-height: auto;
    height: 650px;
    position: relative;
    display: flex;
    border-radius: 50px;
    background: green;

    .tag {
      position: absolute;

      top: 160px;
      left: -88px;
      rotate: -90deg;
      background: #000;
      padding: 10px 20px;
      color: $primary;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .description {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 40px;
      display: flex;
      justify-content: space-between;

      .name {
        h2 {
          font-size: 3rem;
          padding: 10px;
          font-weight: 800;
          text-transform: uppercase;
        }
        p {
          padding-bottom: 30px;
        }
      }
      .card-c {
        display: inherit;
        flex-direction: column;
        gap: 10px;

        .card {
          width: 100px;
          height: 100px;
          border-radius: 5px;
          border: 2px solid $primary;
        }
      }
    }
  }

  .newdrops {
    padding-top: 70px;
    .title {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: end;
      h2 {
        font-size: 3rem;
        line-height: 50px;
      }
    }
    &-products {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
  }
}

// Categories Section

.categories {
  width: 100%;
  background: #232321;
  height: 486px;
  color: #ffffff;
  padding: 30px 50px;

  .title {
    font-size: 4rem;
    font-weight: 700;
  }

  .cat {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .catcard {
      width: 50%;
      height: 350px;
      background: #f6f6f6;
    }
    .one {
      border-top-left-radius: 50px;
      background: #eceef0;
    }
  }
}
.class-arrows {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.class-arrow {
  position: relative !important;
  top: -30px !important;
  left: 0 !important;
  border-radius: 5px !important;
  padding: 5px !important;
  width: 30px !important;
  height: 30px !important;
}
